body {
    margin: 0; 
    background-color: #FFFCF6;
}
@media screen and (min-width: 1920px) { 
    #titlepage {width: 1920px;} 
} 
.hh {
    fill: none;
    fill-rule: evenodd;
    stroke-linecap: round;
    stroke-width:5px;
}
.howie{
    padding: 5px;
}
h1 {
    font-family:'HelveticaNeued81a189c71a8d7';
    font-weight: 100;
    margin: 0;
}

#titlepage {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    overflow: hidden;
    transition: 1s ease-out;
}
.shadow {
    position: absolute;
    margin-left: 100px;
    top: 50%;
    transform: translateY(+305px);
}
#titlepic {
    position: absolute;
    margin-left: 100px;
    top: 50%;
    transform: translateY(-50%);
    width: 900px;
    height: 600px;
    overflow: hidden;
}
#titlepic div{
    position: absolute;
}
#titlepic img {
    width: 900px;
}
.index-enter-active {
    transform: translateX(0);
    transition: all 1s ease;
  }
  
  .index-leave-active {
    transform: translateX(-100%);
    transition: all 1s ease;
  }
  
  .index-enter {
    transform: translateX(100%);
  }
  
  .index-leave {
    transform: translateX(0);
}
#titlebox {
    width: 500px;
    height: 400px;
    float: right;
    margin-right: 100px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #638C9E;
    position: relative;
    text-align: center;
    transition: 1s ease;
}
#titlebox .titlecolor {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color:yellow;
    z-index: 1;
}
#titlehowie ,#titleh1 ,#titlespan{
    z-index: 2;
}
#titlehowie .howie {
    width: 400px;    
    margin-top: 50px;
}
#titlebox .hh {
    stroke:white;
    animation: writeH 3s ease-out 1;
}
#titlebox .hhdian {
    opacity: 1;
    animation: fadeDian 1s ease-out 2s backwards;
}
@keyframes fadeDian {
    0%{opacity: 0;}
    100%{opacity: 1;}
}
@keyframes writeH {
    0% {
        stroke-dasharray: 0, 1400;
    }
    100% {
        stroke-dasharray: 1400, 1400;
    }
}
#titleh1{
    position: relative;
    top: -20px;
}
#titleh1 h1 {
    position: relative;
    font-size: 50px;
    color: white;
    animation: titleIn 1s ease-out 2s backwards;
}
#titlespan{
    position: relative;
    top: 10px;
}
#titlespan a {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 100px;
    height: 40px;
    line-height: 40px;
    border: 1px solid white;
    border-radius: 2px;
    color: #638C9E;
    background-color: white;
    animation: titleIn 1s ease-out 2.5s backwards;   
    transition: 1s ease; 
}
#titlespan a:hover{
    opacity: 0.9;
}
@keyframes titleIn {
    0%{
        top: 100px;
        opacity: 0;
    }
    100%{
        top:0;
        opacity: 1;
    }
}